@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Telefone">P:</abbr>
    (61)985590601
</address>

<address>
    <strong>Support:</strong>   <a href="eduardoa8142@gmail.com">eduardoa8142@gmail.com</a><br />
</address>