@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema Ecommerce</h1>
    <p class="lead">Sistema feito com inuito de aprender ASP.NET no padrão MVC.</p>
    <p><a href="https://github.com/edudu4/" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>
           Conheça meu perfil no GitHub. Lá é aonde posto todos meus projetos.
        </p>
        <p><a class="btn btn-default" href="https://github.com/edudu4/">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Linkedin</h2>
        <p>Conheça meu perfil no Linkedin. Esse é o lugar perfeito para um networking.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/edudu4">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Email/Telefone</h2>
        <p>Ou caso prefira me contatar diretamente, escreva ou ligue para mim.</p>
        <p><a class="btn btn-default" href="eduardoa8142@gmail.com">Saiba mais &raquo;</a></p>
    </div>
</div>